h1 {
    color: maroon;
}

html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

#main {
    flex-flow: row wrap;
    justify-content: center
}

#navstruc {
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

#contentstruc {
    justify-content: center;
    padding-bottom: 30px;
}

#socialstruc {
    justify-content: center;
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#sociallinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}