h1 {
    color: white;
}

html {
    background-color: teal
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

#x {
    display: flex
}

#navlinks {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
}

#social {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */
}

#sociallinks {
    display: flex;
    flex-flow: row wrap;
}